.header_ {
    height: 120px;
    background: #E0D984;
    margin: 0 auto;
    padding-bottom: 0;
    max-width: 1440px;

}

.NameOfSite h1 {
    color: beige;
    text-decoration: none;
}
.NameOfSite {
    padding: 10px;
    height: 100px;
}
.menu{
    margin-top: -20px;
    background-color: cornflowerblue;
    clear:both;
}
.menu a{
    font-size: 20px;
    display: inline-block;
    background-color: cornflowerblue;
    width: 150px;
    border-right: 2px solid #5d62a6;
    text-align: center;
    color:black;
}
.menu a:last-child{
    float: right;
    width: 100px;
    border: none;
}
.menu a:hover{
    color: #E4C6D9;
    text-decoration: none;
}