body,html{
    margin: 0;
    padding: 0;
}
.log_in{
    padding: 20px;
    width: 350px;
    height: 300px;
    background-color: #fcfcfc;
    border: 2px solid #f1f1f1;
    margin: 50px auto;
}
input {
    width: 150px;
    height: 30px;
    border: 2px solid #b7af67;
    background-color: #c6be72;
    margin-bottom: 5px;
    margin-left: 10px;
}

.log {
    margin-left: 18px;
    margin-top: 30px;
}

label {
    margin: 35px;
}

p {
    color: red;
    margin: 35px;
}

input[type="submit"] {
    margin: 35px;
    background-color: #c6901c;
    border: none;
}