h1 {
    margin-left: 30px;
    color: cornflowerblue;
    font-family: fantasy;
    text-decoration: underline;
    margin-bottom: -20px;
}

p {
    padding: 5px 5px;
    font: 13pt Arial serif;
    font-style: italic;
    color: burlywood;
}

body {
    background-color: #a66689;
    margin: 0;
}

hr {
    width: 70%;
}

img {
    width: 200px;
}

.one_good {
    height: 400px;
}

.one_good:hover {
    background-color: #c76fa4;
}

.left {
    float: left;
    width: 8%;
    margin-left: 200px;
}

.center {
    width: 48%;
    float: left;
    margin-left: 100px;
}

.right {
    float: right;
    width: 10%;
    padding-top: 40px;
    font: 16pt Arial serif;
    margin-right: 140px;
}

span {
    background-color: #E4C6D9;
}

input {
    height: 27px;
    background-color: #E0D984;
}

.descr {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis
}

.right a {
    text-decoration: none;
    color: #8b1bb7;
    background-color: #E0D984;
}