<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <a href="/admin/admin.php?login=<?php echo "{$_GET['login']}&pass={$_GET['pass']}";?>&controller=insert.php">Insert to DB</a>
    <a href="/admin/admin.php?login=<?php echo "{$_GET['login']}&pass={$_GET['pass']}";?>&controller=delete.php">Delete from DB</a>
</body>
</html>