<head>
    <link href="../../pub/media/styles/style_productList.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="content">
    <form action="/admin/adminController/deleteFromDB.php" method="post" name="delete">
        <div style="position: absolute;top:-200px;">
            <input type="text" name="login" value="<?php echo $_GET['login'] ?>">
            <input type="text" name="pass" value="<?php echo $_GET['pass'] ?>">
        </div>
        <?php
        $Content = $pdo->prepare("SELECT * FROM `products`");
        $Content->execute();
        $Products = $Content->fetchAll();
        foreach ($Products as $row) {
            echo '<label>
              <div class="one_good">
              <hr>
              <input type="checkbox" name="product[]" value="' . $row['id'] . '" style="position: relative; right:200px"/>
              <div class="left">
                  <img src="../pub/' . $row["image"] . '"/>
              </div>
              <div class="center">
                  <h1>' . $row["name"] . '</h1>
                  <p class="descr">' . $row["description"] . '</p>
              </div>
              <div class="right">
                  <span>' . $row["price"] . ' UAH</span><br/>
              </div>
          </div></label>';
        } ?>
        <input type="submit" name="del" value="delete">
    </form>
    <?php
    if ($_GET['ok'] == 'ok')
        echo 'complete';
    ?>
</div>
</body>