<br>
<div align="center">
    <a href="/pub/index.php"> Back to Home page</a>
    <h2>Add new product:</h2>
    <form enctype="multipart/form-data" action="/admin/adminController/addingToDB.php" name="NewProduct" method="post">
        <div style="position: absolute;top:-200px;">
            <input type="text" name="login" value="<?php echo $_GET['login'] ?>">
            <input type="text" name="pass" value="<?php echo $_GET['pass'] ?>">
        </div>
        <label>
            Input name of product:<input type="text" name="name"/>
        </label><br>
        <label>
            Input description of product:<textarea name="descrip"></textarea>
        </label><br>
        <label>
            Input product price:<input type="text" name="price">
        </label><br>
        <label>
            Input image:<input type="file" name="image">
        </label>
        <br>
        <input type="submit" name="add" value="add product">
        <?php
            if($_GET['error'])
                echo '<br>Please, complete all fields.';
        ?>
    </form>
</div>
