<!DOCTYPE HTML>
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="../pub/media/styles/style_header.css">
</head>
<div class="header_">
    <div class="NameOfSite">
        <h1>Online Shop</h1>
    </div>
    <div class="menu">
        <a href="/pub/index.php">Home</a>
        <a href="/pub/about.php">About us</a>
        <a href="/pub/productList.php">List of products</a>
        <a href="/pub/signIn.php">Sign in</a>
    </div>
</div>