<!DOCTYPE HTML>
<html>
<head>
    <link href="../pub/media/styles/style_product.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<?php include_once dirname(__DIR__) . "/templates/header.phtml"; ?>
<div class="content">
    <?php
    foreach ($this->Prod as $row) {
        if ($row['id'] == $_GET['productId']) {
            $product = $row;
            break;
        }
    }
    echo '<div class="one_good">
              <div class="left">
                  <img src="' . $product["image"] . '"/>
              </div>
              <div class="center">
                  <h1>' . $product["name"] . '</h1>
                  <p class="descr">' . $product["description"] . '</p>
              </div>
              <div class="right">
                  <span>' . $product["price"] . ' UAH</span><br/>
                  <a href="#?productId=' . $product['id'] . '" >By now!</a>
              </div>
          </div>';
    ?>
</div>
</body>
</html>

