<!DOCTYPE HTML>
<html>
<head>
    <link href="../pub/media/styles/style_productList.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<?php include "header.phtml"; ?>
<div class="content">
    <?php foreach ($Products as $row) {
        echo '<div class="one_good">
              <hr>
              <div class="left">
                  <img src="' . $row["image"] . '"/>
              </div>
              <div class="center">
                  <h1>' . $row["name"] . '</h1>
                  <p class="descr">' . $row["description"] . '</p>
              </div>
              <div class="right">
                  <span>' . $row["price"] . ' UAH</span><br/>
                  <a href="/pub/oneGood.php?productId=' . $row['id'] . '" >MORE!</a>
              </div>
          </div>';
    } ?>
</div>
</body>
</html>
