<head>
    <link rel="stylesheet" type="text/css" href="../pub/media/styles/style_sign.css">
</head>
<body>
<div class="log_in">
    <form action="/pub/autorization.php" name="Log_in" method="get">
        <label>Введіть логин:<input type="text" name="login" class="log"/></label><br>
        <label>Введіть пароль:<input type="password" name="password"/></label>
        <input type="submit" name="submit" value="Ввійти">
    </form>
</div>
</body>